<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript" src="/font_statics/jq/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="/font_statics/jq/jquery.cookie.js"></script>
</head>
    <body>
        <table>
                {% for aClass in classesData %}
                    <tr aClass_id={{aClass.id}}>
                        <td>{{aClass.caption}}</td>
                        <td><a class="aClass_edit">编辑</a>|<a class="aClass_del">删除</a></td>
                    </tr>
                {% endfor %}
        </table>
        <script type="text/javascript">
            $(document).ready(function () {
                var csrftoken = $.cookie('csrftoken');

                function csrfSafeMethod(method) {
                    // these HTTP methods do not require CSRF protection
                    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
                }
                $.ajaxSetup({
                    beforeSend: function(xhr, settings) {
                        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                            xhr.setRequestHeader("X-CSRFToken", csrftoken);
                        }
                    }
                });


                $(".aClass_del").click(function () {
                    $.ajax({
                        url:"/delAClass",
                        type:"post",
                        data:{"delingClass_id":$(this).parents("tr").attr("aClass_id")},
                        success:function () {
                            console.log($(this).parents("tr"))
                        }
                    })
                })
            })

        </script>
      </body>
</html>