<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/font_statics/css/classes.css"/>
    <script type="text/javascript" src="/font_statics/jq/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="/font_statics/jq/jquery.cookie.js"></script>
</head>
    <body>
        <div id="addAClass_background" class="modalDialogBackground hideModalDialog displayModalDialog">
            <div class="modalDialog">
                <div>请输入班级名称：<input type="text"/></div>
                <div><button class="sureButton">确认</button><button class="cancelButton">取消</button></div>
            </div>
        </div>
        <div id="editAClass_background" class="modalDialogBackground hideModalDialog displayModalDialog">
            <div class="modalDialog">
                <div>请输入班级名称：<input type="text"/></div>
                <div><button class="sureButton">确认</button><button class="cancelButton">取消</button></div>
            </div>
        </div>
        <table id="classesCamp">
            <tr><td id="addAClass">增加一个班级</td></tr>
            {% for aClass in classesData %}
                <tr aClass_id={{aClass.id}}>
                    <td class="aClass_caption">{{aClass.caption}}</td>
                    <td><a class="aClass_edit">编辑</a>|<a class="aClass_del">删除</a></td>
                </tr>
            {% endfor %}
        </table>
        <script type="text/javascript">
            $(document).ready(function () {
                var csrftoken = $.cookie('csrftoken');
                function csrfSafeMethod(method) {
                    // these HTTP methods do not require CSRF protection
                    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
                }
                $.ajaxSetup({
                    beforeSend: function(xhr, settings) {
                        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                            xhr.setRequestHeader("X-CSRFToken", csrftoken);
                        }
                    }
                });


                $("#addAClass").click(function () {
                    $("#addAClass_background").removeClass("hideModalDialog")
                })
                $("#classesCamp .aClass_edit").click(function () {
                    $("#editAClass_background").removeClass("hideModalDialog")
                    $("#editAClass_background input").attr("theClass_id", $(this).parents("tr").attr("aClass_id"))
                    $("#editAClass_background input").val($(this).parent().siblings(".aClass_caption").html())
                })
                $("#editAClass_background .sureButton").click(function () {
                    var theEditClassElement = $("#editAClass_background input")
                    $.ajax({
                        url:"editAClass",
                        type:"post",
                        data:{"editClass_id":theEditClassElement.attr("theClass_id"), "editClass_caption":theEditClassElement.val()},
                        success:function (data, status) {
                            $("#classesCamp tr[aclass_id="+theEditClassElement.attr("theClass_id")+"] td.aClass_caption").html(data)
                            $("#editAClass_background").addClass("hideModalDialog")
                        }
                    })
                })
                $("#addAClass_background .sureButton").click(function () {
                    $.ajax({
                        url:"/addAClass",
                        type:"post",
                        data:{"newClassCaption":$("#addAClass_background input").val()},
                        success:function (data, status) {
                            newClassData = JSON.parse(data)
                            $("table#classesCamp").append($("<tr aClass_id='"+newClassData.newClass_id+"'><td>"+newClassData.newClass_caption+"</td><td><a class=\"aClass_edit\">编辑</a>|<a class=\"aClass_del\">删除</a></td></tr>"))
                            $("#addAClass_background").addClass("hideModalDialog")
                        }
                    })
                })



                $(".aClass_del").click(function () {
                    var clicked_del = $(this)
                    $.ajax({
                        url:"/delAClass",
                        type:"post",
                        data:{"delingClass_id":$(this).parents("tr").attr("aClass_id")},
                        success:function (data, textStatus, xhr) {
                            if ("success" == textStatus) {
                                clicked_del.parents("tr").remove()
                            }

                        }
                    })
                })
            })

        </script>
      </body>
</html>